@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
	@apply flex flex-col;
	max-width: 87.5rem;
	width: 90%;
	padding: 2rem 0;
	margin: 0 auto;
	min-height: calc(100vh - 4rem);
}

.selected-card {
	@apply mx-4;
	@apply border-accent;
	overflow: visible;
	transform: scale(1.2);
	border-width: 3px;
}
